<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="moiro">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import moiro urdf file -->
    <xacro:include filename="$(find moiro_description)/urdf/moiro.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="moiro.ros2_control.xacro" />


    <xacro:moiro_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
